<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <title>Showcase</title>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/_pluggable/stroller2/css/style.css')}" />
</head>

<body>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <py:for each="product in products">
            ${h.call_partial('stroller2.controllers.showcase.ShowcaseController:product', product=product)}
        </py:for>

    </div>
</div>
</body>
</html>
