<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <title>Shop Management - Product</title>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/_pluggable/stroller2/css/style.css')}" />
</head>

<body>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
            <a class="btn btn-primary btn-block" href="${h.plug_url('stroller2', '/manage/product/new')}">New product</a>
        <hr/>
        <table class="table table-bordered stroller-admin-table">
            <tr>
                <th>Product</th>
                <th>Actions</th>
            </tr>
            <py:for each="product in products">
                <tr>
                    <td><a href="${h.plug_url('stroller2', '/product/%s' % product.slug)}">${product.name[tg.config.lang]}</a></td>
                    <td>
                        <ul>
                            <li><a href="${h.plug_url('stroller2', '/manage/product/edit',
                                 params=dict(product_id=product._id))}" title="Edit product">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a></li>
                            <li><a href="${h.plug_url('stroller2', '/manage/product/delete',
                                 params=dict(product_id=product._id))}"
                                   onclick="return confirm('Do you really want to delete product?')" title="Delete product">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a></li>
                            <li py:if="product.published"><a href="${h.plug_url('stroller2', '/manage/product/publish',
                                 params=dict(product_id=product._id))}" title="Hide product">
                                <span class="text-success glyphicon glyphicon-check"></span>
                            </a></li>
                            <li py:if="not product.published"><a href="${h.plug_url('stroller2', '/manage/product/publish',
                                 params=dict(product_id=product._id))}" title="Publish product">
                                <span class="text-error glyphicon glyphicon-check"></span>
                            </a></li>
                        </ul>
                    </td>
                </tr>
            </py:for>
        </table>
    </div>
</div>
</body>
</html>
