<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <title>Shop Management - Product</title>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/_pluggable/stroller2/css/style.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/_pluggable/stroller2/css/photo_upload.css')}" />
    <script src="${tg.url('/_pluggable/stroller2/javascript/Ractive.min.js')}"></script>
</head>

<body>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        ${form.display(action=action)}
    </div>
</div>
</body>
</html>
